* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}
h1 {
  font-size: 28px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

#txtBusca {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
  width: 200px;
}

main {
  display: flex;

  background-color: #fff;

  justify-content: center;
  align-items: center;
}

form {
  margin: 30px;
  display: inline;
  justify-content: center;
  align-items: center;
}

.item {
  margin-top: 20px;
  padding: 2px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

fieldset {
  margin: 20px;
  padding: 10px;
}

button {
  bottom: 180px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button[disabled] {
  background-color: lightgray;
  cursor: not-allowed;
}

img {
  max-width: 100%;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  clear: both;
}

@media screen and (max-height: 660px) {
  footer {
    bottom: -100px;
  }
}
