* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

#txtBusca {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
  width: 200px;
}

main {
  top: -200px;
  display: flex;
  height: 700px;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  margin-top: 20px;
  padding: 2px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

fieldset {
  margin: 20px;
  padding: 10px;
}

button {
  bottom: 180px;
  position: absolute;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

img {
  max-width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
}
